@model dynamic
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>


<div class="mb-3">
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary me-2">Yeni Ürün Ekle</a>
    <a asp-controller="Category" asp-action="Create" class="btn btn-success">Yeni Kategori Ekle</a>
</div>

<div class="mb-3">
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary me-2">Ürünler Sayfası</a>
    <a asp-controller="Category" asp-action="Index" class="btn btn-success">Kategoriler Sayfası</a>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3 p-3">
            <h4>Toplam Ürün</h4>
            <p class="display-4">@ViewBag.TotalProducts</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3 p-3">
            <h4>Toplam Kategori</h4>
            <p class="display-4">@ViewBag.TotalCategories</p>
        </div>
    </div>
  
</div>
