@model SimpleStock.Application.DTOs.CategoryDto

<h2>@(Model.Id == 0 ? "Yeni Kategori" : "Kategori Düzenle")</h2>

<form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
